<%= yield :top_of_page %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= yield :page_title %> </title>
    <meta name="viewport" content="width=device-width" />
    <%= yield :head %>
</head>

<body class="<%= yield :body_classes %>">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>
    <%= yield :body_start %>

    <header role="banner" id="global-header" class="<%= yield :header_class%>">
        <div id="header-wrapper">
            <div id="header-contents">
                <div id="header-float-left">
                    <div id="header-logo">
                        <a href="/" title="Home" id="logo" class="content">
                            <div id="coat-of-arms" alt=""></div>
                            <div class="name">DVLA</div>
                        </a>
                        <% if show_header_application_title %>
                        <div id="header-application-title">
                            <% if content_for?(:header_application_title) %>
                            <%= yield :header_application_title %}
                            <% else %>
                            <a href="#" title="Service home">SERVICE</a>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                    <% if show_header_search %>
                    <div id="header-search">
                        <% if content_for?(:header_search) %>
                        <%= yield :header_search %>
                        <% else %>
                        <form>
                            <input type="text" placeholder="Search" />
                            <span class="search-btn"></span>
                        </form>
                        <% end %>
                    </div>
                    <% end %>
                </div>
                <div id="header-float-right">
                    <% if show_header_user_account %>
                    <div id="user-account">
                        <% if content_for?(:header_user_account) %>
                        <%= yield :header_user_account %>
                        <% else %>
                        <div id="logout">
                            <a href="#">Log out</a>
                        </div>
                        <div id="user-account-email">
                            demo.email@dvla.gov.uk
                        </div>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </header>

    <%= yield :after_header %>

    <main id="content">
        <div class="side-bar">
            <% if content_for?(:tabs_left) %>
            <%= yield :tabs_left %>
            <% else %>
            <ul>
                <li><a href="#">Tab title one</a></li>
                <li class="active"><a href="#">Tab title two</a></li>
                <li><a href="#">Tab title three</a></li>
                <li><a href="#">Tab title four</a></li>
            </ul>
            <% end %>
        </div>
        <div class="container-fluid">
            <%= yield :content %>
        </div>
    </main>
</body>

</html>