<%= yield :top_of_page %>

<html lang="en">
    <head>
        <title><%= yield :page_title %></title>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8">
        <%= yield :head %>
    </head>

    <body class="<%= yield :body_classes %>">
        <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
        </script>
        <%= yield :body_start %>

        <header role="banner" id="global-header" class="<%= yield :header_class %>">
            <div id="header-wrapper">
                <div id="header-contents">
                    <div id="header-float-left">
                        <div id="header-logo">
                            <a href="/" title="Home" id="logo" class="content">
                                <div id="coat-of-arms" alt=""></div>
                                <div class="name">DVLA</div>
                            </a>
                            <div id="header-application-title">
                                <%= yield :header_application_title %>
                            </div>
                        </div>
                        <div id="header-search">
                            <%= yield :header_search %>
                        </div>
                    </div>
                    <div id="header-float-right">
                        <div id="user-account">
                            <%= yield :header_user_account %>
                        </div>
                    </div>
                </div>
            </div>
            <% if content_for?(:global_header_bar) %>
                <%= yield :global_header_bar %>
            <% else %>
                <div id="global-header-bar"></div>
            <% end %>
        </header>

        <%= yield :after_header %>

        <main id="content">
            <div class="container">
                <%= yield :content %>
            </div>
        </main>

        <%= yield :after_content %>

        <footer id="global-footer" class="<%= yield :footer_class %>">
            <%= yield :footer %>
        </footer>

        <%= yield :after_footer %>
    </body>

</html>

<%= yield :bottom_of_page %>